[tool.poetry]
name = "impactchart"
version = "0.2.0"
description = ""
authors = ["vengroff <vengroff@gmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
logargparser = "^0.1.1"
shap = "^0.44.1"
xgboost = "^2.0.3"
matplotlib = "^3.8.2"
PyYAML = "^6.0"

[tool.poetry.group.test.dependencies]
pytest = "^7.1.3"
coverage = {extras = ["toml"], version = "^6.5.0"}
pytest-cov = "^3.0.0"
scikit-image = "^0.20.0"
flake8 = "^6.0.0"
black = "^23.7.0"
isort = "^5.12.0"

[tool.poetry.scripts]
impactchart = "impactchart.cli.main:main"

[tool.coverage.report]
omit = ["tests/*"]

[tool.isort]
profile = "black"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
