[tool.poetry]
name = "impactchart"
version = "0.1.7"
description = ""
authors = ["vengroff <vengroff@gmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
logargparser = "^0.1.1"
shap = "^0.41.0"  # shap = "^0.42.0"
# This pin is a workaround for the fact that SHAP 0.41.0 does not work
# with numpy 1.24.0 or newer. When there is a new release of shap that
# works with newer numpy versions we can use it an eliminate this pin.
numpy = "1.23.2"
pandas = "^2.0.3"
scikit-learn = "^1.3.0"
xgboost = "^1.7.3"
matplotlib = "^3.7.2"
PyYAML = "^6.0"

[tool.poetry.group.test.dependencies]
pytest = "^7.1.3"
coverage = {extras = ["toml"], version = "^6.5.0"}
pytest-cov = "^3.0.0"
scikit-image = "^0.20.0"
flake8 = "^6.0.0"
black = "^23.7.0"
isort = "^5.12.0"

[tool.poetry.scripts]
censusdis = "impactchart.cli.impactchart:main"

[tool.coverage.report]
omit = ["tests/*"]

[tool.isort]
profile = "black"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
